# Environments and credentials
.env
.env*
!.env.example
!.env.production.example
**/secrets/
secrets/

# Python Virtual Environments
.venv/
venv/
core/.venv/

# Caching & compiled code
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# System and project data
.DS_Store
data/

